<div class="portfolio-layout">
  <header>
    <h1>
      <div data-before="DUNGEONS" class="dungeons-text">DUNGEONS</div>
      <div class="ampersand-layout">
        <div data-before="&" class="ampersand">&</div> <span class="social-link">
          by {{'@codeLiches'}}
        </span>
      </div>
      <div data-before="CODING" class="coding-text">CODING</div>
    </h1>
  </header>
  <div class="marquee">
    <ul>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
    </ul>
    <ul>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
      <li>ttrpg tools that make your games faster & weirder</li>
    </ul>
  </div>
  <div class="apps-layout">
    <div (click)="goToLink('https://artliches.github.io/pvnk-spawner/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/pvnkspawner_2.png" 
          alt="Screenshot for pvnk.spawner"
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">p v n k . s p a w n e r</strong>
        <div class="main-descrip">
          a random pvnk (player character) generator compatible with CY_BORG by Stockholm Kartell
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid
        </div>
      </div>
    </div>

    <div (click)="goToLink('https://artliches.github.io/who-goes-there/')" class="app-card">
      <div class="app-card-pic">
        <img
          src="./assets/images/whogoesthere.png" 
          alt=""
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">who goes there?</strong>
        <div class="main-descrip">
          a random NPC generator compatible with swords and sworcery games
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid
        </div>
      </div>
    </div>

    <div (click)="goToLink('https://artliches.github.io/what-wretch-approaches/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/whatwretchapproaches.png" 
          alt=""
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">what wretch approaches?</strong>
        <div class="main-descrip">
          a random NPC generator compatible with MÖRK BORG by Stockholm Kartell
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid
        </div>
      </div>
    </div>
    
    <div (click)="goToLink('https://artliches.github.io/scoundrels/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/scoundrel.png" 
          alt=""
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">what scoundrel lurches?</strong>
        <div class="main-descrip">
          a random NPC generator compatible with Blades in the Dark by John Harper
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid/flexbox
        </div>
      </div>
    </div>

    <div (click)="goToLink('https://artliches.github.io/new-hire/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/new_hire.png" 
          alt=""
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">new_hire.xls</strong>
        <div class="main-descrip">
          a random NPC generator compatible with Corp Borg by Paweł Kicman/Heltung Storytelling
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid/flexbox
        </div>
      </div>
    </div>

    <div (click)="goToLink('https://artliches.github.io/farewell/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/farewell.png" 
          loading="lazy"
          alt="">
      </div>
      <div class="app-card-body">
        <strong class="card-title">farewell</strong>
        <div class="main-descrip">
          a random collection of tools compatible with Farewell To Arms REDUX by rivethead games
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid/flexbox
        </div>
      </div>
    </div>

    <div (click)="goToLink('https://artliches.github.io/vast-grimm-character-generator/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/vast_grimm.png" 
          alt=""
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">g r i m m . s p a c e</strong>
        <div class="main-descrip">
          a random NPC generator compatible with Vast Grimm by Creature Curation
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid/flexbox
        </div>
      </div>
    </div>

    <div (click)="goToLink('https://artliches.github.io/the-molt-character-generator/')" class="app-card">
      <div class="app-card-pic">
        <img 
          src="./assets/images/the_molt.png"
          alt=""
          loading="lazy"
        >
      </div>
      <div class="app-card-body">
        <strong class="card-title">m o l t</strong>
        <div class="main-descrip">
          a random NPC generator compatible with The Molt by Creature Curation
        </div>
        <div class="sub-descrip">
          pwa created with angular/css grid/flexbox
        </div>
      </div>
    </div>
  </div>
</div>